<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>793577407200-hiofd45ra8aasl6fdb17e45pk2kabm14.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.793577407200-hiofd45ra8aasl6fdb17e45pk2kabm14</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>793577407200-m1u1djt28kk1pmth6scp1lut22f91qb2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBloT7CYbw2Ey0tYS3RN6iZA4KZlHRG3o0</string>
	<key>GCM_SENDER_ID</key>
	<string>793577407200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.foodwifirestaurantpartnerapp</string>
	<key>PROJECT_ID</key>
	<string>test-597d0</string>
	<key>STORAGE_BUCKET</key>
	<string>test-597d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:793577407200:ios:e17bd2417ca783628c8685</string>
</dict>
</plist>