<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>69127391122-6tsu92nmgs412di887p488u669hn9d7s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.69127391122-6tsu92nmgs412di887p488u669hn9d7s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>69127391122-9nrak8bbm3gq3dej1v5hjorq2nrrkks5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCc1j3Pi5tl-xvdwg-PP0u1X6IOvdCMg6c</string>
	<key>GCM_SENDER_ID</key>
	<string>69127391122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.foodwifirestaurantpartnerapp</string>
	<key>PROJECT_ID</key>
	<string>restaurantapp-f4a48</string>
	<key>STORAGE_BUCKET</key>
	<string>restaurantapp-f4a48.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69127391122:ios:286791b9b16c038843234b</string>
</dict>
</plist>